@font-face {
    font-family: riffic;
    src: url(assets/riffic.ttf);
}

@font-face {
    font-family: nexa;
    src: url(assets/nexa.otf);
}   

* {
    margin: 0;
    padding: 0;
    user-select: none;
    pointer-events: all;
}

body {
    background-color: #202020;
}

.title-box {
    width: 100%;
    max-height: 200px;
}

.title {
    position: absolute;
    left: 50%;
    top: 70px;
    width: 80%;
    transform: translate(-50%, 0);
}

.subtitle {
    position: absolute;
    font-family: riffic;
    color: white;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    font-size: 64px;
}

.soon-box {
    width: 275px;
    height: 275px;
    background-color: #00000088;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-family: nexa;
}

.soon {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-family: nexa;
}

.download-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47.5%, -47.5%);
    width: 250px;
    filter: blur(5px) grayscale();
    /* animation: btn-rev 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards; */
}

.download-btn:active {
    /* animation: btn 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards; */
}

.credits {
    position: absolute;
    font-family: nexa;
    color: white;
    left: 50%;
    top: 70%;
    transform: translate(-50%);
}

.c1 {
    text-decoration: underline;
}
.c2 {
    transform: translate(-50%, 60px);
    text-decoration: underline;
}
.c3 {
    transform: translate(-50%, 100px);
}
.c4 {
    transform: translate(-50%, 150px);
    text-decoration: underline;
}
.c5 {
    transform: translate(-50%, 190px);
}

@keyframes btn {
    from {
        width: 250px;
    }
    to {
        width: 350px;
    }
  }

  @keyframes btn-rev {
    from {
        width: 350px;
    }
    to {
        width: 250px;
    }
  }