/*
@font-face {
  src: url();
  font-family:
}
*/

@font-face {
  src: url(assets/font/UniSansHeavyCaps.otf);
  font-family: UniSansHeavyCaps;
}

@font-face {
  src: url(assets/font/ColorTube.ttf);
  font-family: ColorTube;
}

/* deactivate stuff here

@font-face {
  src: url(assets/font/Marshmallow.ttf);
  font-family: Marshmallow;
}
