:root {
    --bg-color: #101318;
    --typewriter-speed: 2s;
    --typewriter-steps: 17;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: "Source Code pro";
    display: grid;
    text-align: center;
    place-content: center;
    background-color: var(--bg-color);
}

.title {
    font-size: 55;
    position: relative;
    color: white;
}

.subtitle {
    color: white;
    font-size: 25;
    transform: translateY(3rem);
    opacity: 0;
    animation: subtitleFade 2s ease var(--typewriter-speed) forwards;
}

.title::before,
.title::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.title::before {
    background: #101318;
    animation: typewriter var(--typewriter-speed) steps(var(--typewriter-steps)) forwards;
}

@keyframes typewriter {
    to {
        left: 100%
    }
}

@keyframes subtitleFade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}