@font-face {
    src: url(./assets/fonts/nexa-bold.otf);
    font-family: nexa-bold;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #f9a875;
    --secondary-color: #eb6b6f;
    --gradient: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    --bg-color: #202020;
    --box-bg: #424242;
}

body {
    background-color: var(--bg-color);
}

.background-color-bar {
    background: var(--gradient);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 150px;
    z-index: 0;
}

.main-box-outer {
    height: auto !important;
    padding: 0 20;
}

.main-box {
    height: auto !important;
    background-color: var(--box-bg);
    min-width: 320px;
    border-radius: 20px;
    max-width: 1080px;
    margin: 40px auto;
    position: relative;
    padding-left: 80px;
}

.title-box {
    background: none;
}

#header {
    background: var(--box-bg);
    position: relative;
    z-index: 9;
    padding: 0 40px;
    border-radius: 0 20px 0 0;
    display: block;
}

.group::before .group::after {
    content: "";
    display: table;
}

.title {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 60px;
    padding: 10px 0 10px 0;
    font-family: nexa-bold;
}

.nav-menu:not(.mobile) {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    float: right;
    padding: 0 0 20px 0;
    line-height: 20px;
    display: block;
}

.nav-ul:not(.mobile) {
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-start;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu-container {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

.menu-item {
    margin: 0 20px 0 0;
}

.menu-item-wrapper {
    display: flex;
}

.nav-link {
    color: var(--primary-color);
    display: block;
    text-decoration: none;
    font-family: nexa-bold;
}

.sidebar {
    background-color: var(--box-bg);
    border-radius: 20px 0 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    z-index: 99;
}

.toggle-search {
    background-color: var(--primary-color);
    outline: none;
    border: 0;
    width: 60px;
    color: var(--box-bg);
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    border-radius: 10px;
    padding: 16px 0;
    margin: 10px;
    display: block;
}

.social-links {
    float: left;
    margin-top: 20px;
    width: 100%;
    position: relative;
    list-style: none;
}

.social-links li {
    margin: 0 auto;
    padding: 4px 0;
    width: 100%;
    position: relative;
    display: inline-block;
    line-height: 16px;
    font-size: 0;
}

.social-link {
    border-radius: 10px;
    padding: 22px 10px;
    margin: 0 20px;
    text-align: center;
    display: block !important;
    position: relative;
}

.svg-discord {
    width: 25px;
}