::selection {
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #101318;
  
  
  
}

a {
  text-decoration: none;
}

.title-box {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2.5%;
  opacity: 0;
  transform: translateY(10rem);
  animation: slideIntoDMs 2s ease forwards;
}

#row1 {
  opacity: 0;
  transform: translateY(10rem);
  animation: slideIntoDMs 2s ease 1s forwards;
}

#row2 {
  opacity: 0;
  transform: translateY(10rem);
  animation: slideIntoDMs 2s ease 2s forwards;
}

#news {
  opacity: 0;
  transform: translateY(10rem);
  animation: slideIntoDMs 2s ease 2s forwards;
}

.title {
  color: #eb6b6f;
  font-family: ColorTube;
}

.comment {
  color: #f9a875;
  font-family: ColorTube;
}

.links {
  text-align: center;
  padding-top: 30px;
}

.na {
  color: #eb6b6f;
  font-family: ColorTube;
  padding-bottom: 5px;
  font-size: 7px;
}

.java-img {
  width: 128px;
}

.bedrock-img {
  width: 128px;
}

.hypixelskyblock-img {
  width: 128px;
  filter: blur(5px) saturate(0);
}

.pvpport-img {
  width: 128px;
  filter: blur(5px) saturate(0);
}

.modsupport-img {
  width: 128px;
  filter: blur(5px) saturate(0);
}

@keyframes slideIntoDMs {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}