:root {
    --accent: #e38d5f;
    --accent2: #f8e4d8;
    --accentbg: #332729;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    text-align: center;
    font-family: Riffic;
    color: var(--accent);
}

*:hover {
    text-decoration: none;
}

*:visited,
*:link {
    color: var(--accent2);
    text-decoration: none;
}

.content {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

.title {
    width: 90%;
    display: flexbox;
    align-items: center;
    justify-content: space-between;
}

.catTitle {
    color: var(--accent2);
}

.titleBanner {
    height: 80px;
}

.box {
    margin: 0 auto 30px auto;
}

.socialIcon {
    height: 60px;
    margin: 5px 15px 5px 15px;
    transition: all 0.1s cubic-bezier(.65,.05,.36,1);
}

.socialIcon:hover {
    height: 70px;
    margin: 0 10px 0 10px;
}

.projectBox {
    display: inline-block;
    width: 90%;
    height: 200px;
    border-radius: 15px;
    box-shadow: 5px 5px var(--accent);
    background-color: var(--accentbg);
    margin: 10px;
    transition: width 0.2s, box-shadow 0.2s;
    text-decoration: none !important;

    background-repeat: no-repeat;
    background-size: auto 200px;
    background-position: right center;
}

.projectBox:hover {
    box-shadow: 5px 5px var(--accent2);
}

.projectImageOverlay {
    border-radius: 15px;
    margin-bottom: -200px;
    width: 100%;
    height: 200px;
    background: linear-gradient(90deg, var(--accentbg) 60%, rgba(0, 0, 0, 0.5));
}

.projectBox p {
    margin-bottom: 0;
}

.projectTitle {
    font-size: 32px;
    color: var(--accent);
}

@media screen and not (max-width: 1000px) {
    .title {
        width: 900px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .projectBox {
        width: 400px;
    }
}

@media screen and not (max-width: 1500px) {
    body {
        background-size: 110%;
    }
}